.footer {
    padding: 20px 0;
}

@media (min-width: 992px){
	.navbar-collapse.collapse {
		display: none !important;
	}
}


/* page heading */

.page-heading-section {
	height: 200px;
	padding: 60px 0;
	background: black;
	color: white;
}

.heading-title {
	padding: 0;
	margin: 0 0 10px;
}

/* page navbar */

.page-heading-nav-bar {
	background: grey;
}

.menu-main-menu-container {
	padding: 0 15px;
	margin-left: -23px;
}

.page-heading-nav-bar ul {
	display: block;
	list-style: none;
	width: 100%;
	height: 48px;
	margin-left: 0;
	margin-bottom: 0;
}

.page-heading-nav-bar ul li {
	display: inline-block;
    padding: 12px 0;
    float: left;
    position: relative;
    text-align: center;
    margin-bottom: -13px;
    margin-top: -13px;
    transition: all 0.25s;
}

.page-heading-nav-bar ul li:hover {
    background: #3C7480;
    transition: all 0.25s;
}

.page-heading-nav-bar a {
	display: block;
    float: left;
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 5px;
}

.page-heading-nav-bar a:hover {
	color: white;
}

.page-heading-nav-bar .link-inner {
    display: inline-block;
    line-height: 1;
    padding: 7px 18px;
}

@media (max-width: 991px) {
	.page-heading-nav-bar {
	    display: none;
	}
}


/* project archive */

.grid-entry-link {
    margin-top: -60px;
    padding: 15px;
    position: relative;
}

.grid-entry-link a {
    background: cornflowerblue;
    display: inline-block;
    width: 100%;
    height: 60px;
}

.grid-entry-link a:hover {
    color: white;
    text-decoration: none;
}

.grid-entry-link a .perry-project-link-wrapper {
	padding: 0 15px;
}

.grid-entry-link a .perry-project-link-wrapper h2 {
	margin: 0;
    font-size: 26px;
    line-height: 60px;
    overflow: hidden;
    max-height: 60px;
}

/* project single */

.perry-project-tags {
	color: white;
}

.perry-project-tags a{
    color: white;
    float: left;
    margin: 5px 5px 15px 0;
}

.perry-project-tags a:hover,
.perry-project-tags a:focus,
.perry-project-tags a:active {
    color: white;
    text-decoration: none;
}

.project-tag {
    background: cornflowerblue;
    padding: 8px 20px;
}

/* slider */

#slider {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

button.control_prev, button.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

button.control_prev:hover, button.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

button.control_prev {
  border-radius: 0 2px 2px 0;
}

button.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}